<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>evchargingstation1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminloginservlet</display-name>
    <servlet-name>adminloginservlet</servlet-name>
    <servlet-class>com.evcharging.adminloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginservlet</servlet-name>
    <url-pattern>/adminloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSservlet</display-name>
    <servlet-name>CSservlet</servlet-name>
    <servlet-class>com.evcharging.CSservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSservlet</servlet-name>
    <url-pattern>/CSservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSsignupservlet</display-name>
    <servlet-name>CSsignupservlet</servlet-name>
    <servlet-class>com.evcharging.CSsignupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSsignupservlet</servlet-name>
    <url-pattern>/CSsignupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSloginservlet</display-name>
    <servlet-name>CSloginservlet</servlet-name>
    <servlet-class>com.evcharging.CSloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSloginservlet</servlet-name>
    <url-pattern>/CSloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userloginservlet</display-name>
    <servlet-name>userloginservlet</servlet-name>
    <servlet-class>com.evcharging.userloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloginservlet</servlet-name>
    <url-pattern>/userloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usersignupservlet</display-name>
    <servlet-name>usersignupservlet</servlet-name>
    <servlet-class>com.evcharging.usersignupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersignupservlet</servlet-name>
    <url-pattern>/usersignupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSSignupservlet</display-name>
    <servlet-name>CSSignupservlet</servlet-name>
    <servlet-class>com.evcharging.CSSignupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSSignupservlet</servlet-name>
    <url-pattern>/CSSignupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveservlet</display-name>
    <servlet-name>approveservlet</servlet-name>
    <servlet-class>com.evcharging.approveservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveservlet</servlet-name>
    <url-pattern>/approveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSdelete</display-name>
    <servlet-name>CSdelete</servlet-name>
    <servlet-class>com.evcharging.CSdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSdelete</servlet-name>
    <url-pattern>/CSdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepowerservlet</display-name>
    <servlet-name>updatepowerservlet</servlet-name>
    <servlet-class>com.evcharging.updatepowerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepowerservlet</servlet-name>
    <url-pattern>/updatepowerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>filterdataservlet</display-name>
    <servlet-name>filterdataservlet</servlet-name>
    <servlet-class>com.evcharging.filterdataservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filterdataservlet</servlet-name>
    <url-pattern>/filterdataservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookstationservlet</display-name>
    <servlet-name>bookstationservlet</servlet-name>
    <servlet-class>com.evcharging.bookstationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookstationservlet</servlet-name>
    <url-pattern>/bookstationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComplaintsServlet</display-name>
    <servlet-name>addComplaintsServlet</servlet-name>
    <servlet-class>com.evcharging.addComplaintsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComplaintsServlet</servlet-name>
    <url-pattern>/addComplaintsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeStatus</display-name>
    <servlet-name>changeStatus</servlet-name>
    <servlet-class>com.evcharging.changeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeStatus</servlet-name>
    <url-pattern>/changeStatus</url-pattern>
  </servlet-mapping>
</web-app>